body {
  padding: 0;
  margin: 0;
  background: #3a3a3f;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 98vh;
  width: 98vw;
}

main a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  background: #fafafa;
  width: 20rem;
  height: 10rem;
  border-radius: 0.2rem;
  box-shadow: 0 13px 27px -5px rgba(20,20,46,.25), 0 8px 16px -8px rgba(0,0,0,.3);
  overflow: hidden;
  transition: all ease 125ms;
}

main a:hover {
  box-shadow: 0 30px 60px -12px rgba(20,20,46,.25), 0 18px 36px -18px rgba(0,0,0,.3);
  transform: translateY(-2px);
}

main a img {
  max-width: 100%;
}
main a.padded img {
  max-width: 80%;
}
